<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body>
    <%- include("../partials/header") %>
    <h1 style="color:blue">Hello <%= firstName %> <%= lastName %></h1>
    <p><%= color %>,<%= car %></p>
    <img src="/assets/photo.jpeg" alt="blue orange" />
    <div>
      <% places.forEach(({city,state},idx)=>{%>
      <li><%=idx+1 %>. <%= city %>, <%= state %></li>
      <%})%>
    </div>
  </body>
</html>
